[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
tortoise-orm = {extras = ["psycopg2"], version = "*"}
uvicorn = "*"
python-dotenv = "*"
passlib = "*"
bcrypt = "*"
jwt = "*"
pyjwt = "*"
pip = "*"
python-multipart = "*"
pydantic = {extras = ["dotenv"], version = "*"}
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
